<!DOCTYPE html>
<html>
<head>
	<title>catalog</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"/>

	<script src="/bower_components/jquery/dist/jquery.js"></script>
	<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>



</head>
<body>
	<section class="container">
		<%-partial('particals/top')%>
	</section>

	<h1><%= title %></h1>
	<p>Welcome to <%= title %></p>
	
	<section class="container">
		
	</section>


</body>


</html>
